@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.h1-title {
    color: #D6000D;
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    margin: 20px 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav {
    display: inline-block;
    margin: 20px;
}

nav a {
    padding: 0 20px;
    text-decoration: none;
    font-weight: 400;
    color: #010101;
    font-size: 1.4rem;
}

nav a:hover {
    color: #D6000D;
}

.btn-log,
.orcamento {
    background-color: #D6000D;
    color: white;
    border-radius: 10px;
    padding: 10px 60px;
}

.btn-log:hover,
.orcamento:hover,
.ligamos:hover {
    background-color: #F5C2C5;
    color: #D6000D;
    transition: 0.3s;
    cursor: pointer;

}

.sec-um,
.sec-dois {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.image,
.list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.p-text,
.image-dois {
    display: block;
    text-align: left;
    width: 100%;
}

.normal-text {
    font-weight: bold;
    font-size: 1.6rem;
}

.red-text {
    color: #D6000D;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 50px;
}

.orcamento {
    border: none;
    width: 400px;
    font-weight: 700;
    font-size: 1.3rem;
}

ul li {
    margin: 15px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

i {
    color: #D6000D;
    font-size: 20px;
}

.sec-tres {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 200px 200px;
}

.info {
    display: block;
}

.input-cel {
    line-height: 20px;
    background-color: #DBDBDB;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin: 10px 0;
    width: 300px;
    font-size: 1.2rem;
}

.ligamos {
    background-color: #D6000D;
    color: #ffffff;
    border: none;
    line-height: 20px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 300px;
    font-size: 1.2rem;
    font-weight: bold;
}

.comentarios {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    height: 180px;
}

.comentario-um,
.comentario-dois {
    background-color: #DBDBDB;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.nome {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 10px;
}

.empresa {
    font-weight: bold;
}

.circle {
    background-color: #D6000D;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

footer>div {
    margin: 50px;
}

.div-1,
.div-2,
.div-3,
.div-4 {
    width: 200px;
}

.codar {
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}

.div-3>p {
    margin-bottom: 15px;
}

.div-3 a {
    color: #ffffff;
}

.sobre,
.contato,
.redes {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.fa-brands {
    font-size: 30px;
}


@media screen and (max-width: 830px) {


    header {
        display: block;
    }

    .h1-title {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .btn-log {
        display: none;
    }

    .sec-um {
        display: grid;
        grid-template-areas: 'img1'
            'txt1';
    }

    .image {
        grid-area: img1;
        margin-bottom: 50px;
    }

    .p-text {
        grid-area: txt1;
        text-align: center;
    }

    .sec-dois {
        display: grid;
        grid-template-areas: 'img2'
            'txt2';
    }

    .image-dois {
        grid-area: img2;
    }

    .list {
        grid-area: txt2;
    }

    .sec-tres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        width: 100%;
    }

    p.normal-text {
        font-size: 1.4rem;
        white-space: nowrap;
    }

    .comentarios {
        display: grid;
        grid-template-areas: 'coment1'
            'coment2';
        margin-top: -100px;
        height: 100%;

    }

    .comentario-um {
        width: 100%;
        grid-area: coment1;
        display: flex;
        margin-bottom: 20px;
    }

    .comentario-dois {
        width: 100%;
        grid-area: coment2;
        display: flex;
    }

    .div-circle {
        float: left;
    }

    .text-coment {
        float: right;
    }

    .nome {
        font-weight: 100;
    }


    footer {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 'codar' 'sobre' 'contato' 'redes';
        justify-content: left;
    }

    .div-1 {
        grid-area: codar;
        text-align: center;
        justify-content: center;
        width: 100%;

    }

    .div-2 {
        grid-area: sobre;
        margin-top: -30px;
        width: 200px;

    }

    .div-3 {
        margin-top: -30px;
        width: 200px;
    }

    .div-4 {
        margin-top: -30px;
        width: 200px;


    }

    .codar {
        font-size: 2.5rem;
    }


    .sobre {
        text-align: start;
    }


}