@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.h1-title{
    color: #D6000D;
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    margin: 20px;
    padding: 20px;
}

header, .sec-um{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav{
    display: inline-block;
    margin: 20px;
}

nav a{
    padding: 0 20px;
    text-decoration: none;
    font-weight: 400;
    color: #010101;
    font-size: 1.2rem;
}

.btn-log, .orcamento{
    background-color: #D6000D;
    color: white;
    border-radius: 10px;
    padding: 10px 50px;
}

.sec-um{
    display: flex;
    justify-content: center;
    margin: 50px 100px;
}

.image{
    width: 50%;
    margin: auto;
    
}

.p-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.normal-text{
    font-weight: bold;
    font-size: 1.5rem;


}

.red-text{
    color: #D6000D;
    font-weight: bold;
    font-size: 3.6rem;
    margin-bottom: 50px;
}

.orcamento{
    border: none;
    width: 300px;
    font-weight: 700;
    font-size: 1.3rem;

}
